# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.AdapterPattern.iml
/contentModel.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
